
html {
  height: 100%;
  font-size: 62.5%;

  /* Border Box*/
  box-sizing: border-box;

  /* Background */
  background:
    url(images/BackLitLeaf.png) no-repeat center center;
  background-size: cover;
}

/* Box sizing on everything */
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background: rgba(193, 205, 193, 0.75);
  box-shadow: 0px 0px 15px 7px rgba(193, 205, 193, 0.75);
  font-family: 'Ubuntu', sans-serif;
  color: #161A1A;
  text-shadow: 1px 1px #838B83;
  margin: 1%;
}

h1, h2, h3 {
/*  border: 1px solid green;
*/
}

div {
/*  border: 2px solid black;

*/}

.sidebar, .projects {
  float: left;
}

.sidebar {
/*  border: 1px solid black;
*/
  font-size: 2.4rem;
  margin-left: 6em;
  width: 30%;
}


.projects {
  margin-left: 2em;
  height: 100%;
  width: 50%;
  padding-right: 25px;
  padding-top: 1%;
  }


.site-txt {
  font-size: 1.5rem;
}

header > h2 {
  margin: 2px;
}

#holly-title {
  font-size: 4.5rem;
  text-align: center;
}

.menu img {
  margin: 0.25em;
}

.menu-img:hover {
  transform: rotate(20deg);
}

.holly {
   margin: 0 auto;
/*  vertical-align: middle;
  margin-right: 5px; */
}
img#holly-pic {
  display: block;
  height: 150px;
  width: 150px;
  border: 2px solid #161A1A;
  border-radius: 100px;
}


.container {
  position: relative;
  max-width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
/*  left: 15%;
*/}

.holly-header {
  padding-top: 2%;
/*  padding-left: 15%;
*/  width: 100%;
}

#tiny {
  font-size: 1.2rem;
}
#first, #second, #third, #fourth, #fifth, #sixth {
  padding: 1.5%;
  font-size: 2rem;
  font-style: italic;
  position: relative;
  width: 85%;
}

#first {
  left: 10px;
}

#second {
  left: 25px;
}

#third {
  left: 40px;
}

#fourth {
  left: 55px;
}

#fifth {
  left: 70px;
}

#sixth {
  left: 85px;
}

.holly-links {
  display: inline-block;
  margin-left: 120px;
}

/* unvisited link */
a:link {
  color: #DBDDDD;
  text-shadow: 1px 1px #161A1A;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #939A9B;
}

/* mouse over link */
a:hover {
    color: #5D6769;
}

/* selected link */
a:active {
    color: #353C3E;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------------
  Media queries
-------------------------------------------*/


@media (max-width: 500px) {

  html {
    /* Base font size */
    font-size: 50%;
  }

  body {
    font-size: 1.4rem;
    margin-top: 1%;
  }

  div {
    padding: 1px;
  }

  #container {
    max-width: 90%;
  }

  #holly img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 2px;
  }

  #linkedin-img, #github-img {
    height: 32px;
    width: 32px;
  }

  .sidebar {
    padding-left: 2%;
  }

  .projects {
    padding-right: 5px;
    padding-top: 1%;
  }

  .holly-header {
    padding-left: 2%;
  }

  #holly-title {
    font-size: 3rem;
  }

  #holly-sub {
    font-size: 1.4rem;
  }


  #first {
    left: 2px;
  }

  #second {
    left: 4px;
  }

  #third {
    left: 6px;
  }

  #fourth {
    left: 8px;
  }

  #fifth {
    left: 10px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

