
html {
  min-height: 100%;
  background-size: cover;
  background-image: url(images/BackLitLeaf.png);
  background-repeat: no-repeat;

  height: 100%;
  font-size: 62.5%;

  /* Border Box*/
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
/*  color: #161A1A;
    text-shadow: 1px 1px #838B83;
*/
  color: #f0fff0;
  text-shadow: 1px 1px #161A1A;
  margin: 1%;
}

#bg_pattern {
background-image: url(images/green-fibers.png);
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: -1;
}

/* Box sizing on everything */
*, *:before, *:after {
  box-sizing: inherit;
}


.sidebar, .projects-pane {
  float: left;
}

.sidebar {
/*  border: 1px solid black;
*/
  font-size: 2.4rem;
  margin-top: 10%;
  margin-left: 5em;
  width: 35%;
}


.projects-pane {
  height: 100%;
  width: 50%;
  margin-left: 3em;
  margin-top: 1%;
  }


header > h2 {
  margin: 2px;
}

img#holly-pic {
  display: block;
  height: 150px;
  width: 150px;
  border: 1px solid #161A1A;
  border-radius: 100px;
}

#holly-title {
  font-size: 4.5rem;
  text-align: center;
}

a.menu{
  decoration: none;
}

.menu img {
  margin: 0.25em;
/*  border: 1px solid #161A1A;
*/
  border-radius: 100%;
  background-color: #f0fff0;
    box-shadow: 0px 0px 2px #f0fff0;
}

.menu-img:hover {
  transform: rotate(20deg);
}



.container {
  position: relative;
  max-width: 100%;
/*  margin-top: 5em;
  margin-bottom: 5em;
*/}

.holly-header {
  padding-top: 2%;
  width: 100%;
}

#tiny {
  font-size: 1.2rem;
}
#first, #second, #third, #fourth, #fifth, #sixth {
  padding: 1.5%;
  font-size: 2rem;
  font-style: italic;
  position: relative;
  width: 85%;
}

#first {
  left: 10px;
}

#second {
  left: 25px;
}

#third {
  left: 40px;
}

#fourth {
  left: 55px;
}

#fifth {
  left: 70px;
}

#sixth {
  left: 85px;
}

.holly-links {
  display: inline-block;
  margin-left: 120px;
}


/* unvisited link */
a:link, a:visited {
  color: #f0fff0;
  font-size: 2rem;
/*  text-shadow: 1px 1px #161A1A;
  text-decoration: none;
*/
}


/* mouse over link */
a:hover {
    color: #5D6769;
}

/* selected link */
a:active {
    color: #353C3E;
}

/* Allows the frosted overlay to cover the container */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* Project section */
div.project {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 300px;
  width: 500px;
  border-radius: 5px;
  border: 5px #161A1A solid;
  background-size: cover;
  background-position: center center;
  position: relative;
}

#movn-there {
  background-image: url("images/MovnThere.png");
  z-index: 888;
}

.project > p {
  height:30px;
  color: rgba(240, 255, 240,1);
  background: #161A1A;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.8));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.8));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.8));
  padding: 10px;
  line-height: 150%;
  text-align: left;
  position: absolute;
  bottom: 0;
  margin: 0;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

small {
  margin-top: 2%;
  opacity:0;
}

.show-description p {
  height: 120px;
}

.show-description small {
  opacity: 1;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 3px white solid;
  background-color: #ffffff;
}

.modalDialog {
  display: none;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
}

div.dialog {
  z-index: 999;
  display: block;
  position: relative;
  width: 800px;
  height: 600px;
}

.modalDialog div.screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 998;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.swap-arrow {
  cursor: pointer;
  vertical-align: middle;
  opacity: 0.5;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #ffffff;
}

span#arrow {
  float: right;
  padding-right: 20px;
}

/*------------------------------------------
  Media queries
-------------------------------------------*/


@media (max-width: 500px) {

  html {
    /* Base font size */
    font-size: 50%;
  }

  body {
    font-size: 1.4rem;
    margin-top: 1%;
  }

  div {
    padding: 1px;
  }

  #container {
    max-width: 90%;
  }

  #holly img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 2px;
  }

  #linkedin-img, #github-img {
    height: 32px;
    width: 32px;
  }

  .sidebar {
    padding-left: 2%;
  }

  .projects {
    padding-right: 5px;
    padding-top: 1%;
  }

  .holly-header {
    padding-left: 2%;
  }

  #holly-title {
    font-size: 3rem;
  }

  #holly-sub {
    font-size: 1.4rem;
  }


  #first {
    left: 2px;
  }

  #second {
    left: 4px;
  }

  #third {
    left: 6px;
  }

  #fourth {
    left: 8px;
  }

  #fifth {
    left: 10px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

